body{
    background:rgb(rgb(128, 128, 128), rgb(128, 128, 128), rgb(128, 128, 128));
    text-align:center;
    text-decoration: rgb(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
}

p{
    font-size: 20px;
}